/* Globální nastavení */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f48e; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}


.detail-container {
  width: 100%;
  max-width: 1000px; 
  background-color: rgba(255, 255, 255, 0.759);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


@media (max-width: 600px) {
  .App { padding: 10px; }
  .detail-container { padding: 10px; }
  button { padding: 10px; font-size: 14px; }
}